.meetingevent-wrapper {
  margin: 0px 158px 0px 158px;
  padding: 0px;
  position: relative;
}

.meetingevent-title {
  height: 367px;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  text-align: center;
  align-items: center;
}

.meetingevent-title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  grid-area: auto;
  letter-spacing: 0.2px;
  line-height: 33.8px;
  font-weight: 300;
  text-shadow: hsl(0 0% 0%) 1px 1px 2px;
  text-transform: uppercase;
}
.meetingevent-title .col-3 {
  width: 100%;
}

.meetingevent-title p {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  color: white;
}
.meetingevent-title a {
  margin: 0;
  text-decoration: none;
  font-size: 13.33px;
  color: white;
}

.meetingevent-title a:hover {
  margin: 0;
  font-size: 13.33px;
  text-decoration: underline;
  color: white;
}
/* CSS content section 1 */
.meetingevent-content-2 {
  height: 100%;
  display: grid;
  grid-template-columns: 6fr 6fr;
}
.meetingevent-content-2 .row-1 {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 40px;
}

.meetingevent-content-2 .col-12-1 {
  align-items: center;
  text-align: center;
}

.meetingevent-content-2 #title {
  color: #a71218;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  padding-top: 20px;
}

.meetingevent-content-2 #detail {
  color: #1c1c1c;
  font-size: 10pt;
  padding: 0px 50px 0px 50px;
}
.meetingevent-content-2 a {
  font-weight: bold;
  color: rgb(189, 28, 28);
  font-size: 13.33px;
  text-decoration: none;
}

.meetingevent-content-2 a:hover {
  font-weight: bold;
  color: #bd2222;
  text-align: center;
  font-size: 13.33px;
  text-decoration: underline;
}
.col-12-2 {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  gap: 5px;
  background-color: white;
  margin-top: 30px;
}
.col-12-2 column {
  width: 10%;
}
.meetingevent-content-2-2 img {
  float: right;
  display: grid;
  grid-template-columns: 1fr;
}
.meetingevent-content-1 {
  margin-top: 80px;
}
.meetingevent-content-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.meetingevent-content-col-1 {
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.meetingevent-content-col-1 #title {
  color: #a71218;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  padding-top: 60px;
}

.meetingevent-content-col-1 #detail {
  color: #1c1c1c;
  font-size: 10pt;
  padding: 0px 50px 0px 50px;
}
.meetingevent-content-col-1 a {
  font-weight: bold;
  color: rgb(189, 28, 28);
  font-size: 13.33px;
  text-decoration: none;
}
.meetingevent-content-col-2 {
  max-width: 1000px;
  position: relative;
  text-align: justify;
  background-color: white;
}
/* CSS slider */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #bd2222;
}
span .close {
  position: relative;
  margin-top: 50px;
  /* z-index: 1000; */
}
/* CSS more detail */
.meetingevent-inf {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  text-align: center;
  align-items: center;
  margin-top: 80px;
}

.meetingevent-inf #title {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  color: white;
}
.meetingevent-inf #detail {
  color: white;
  text-align: center;
}
/* CSS form box */
.meetingevent-box {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}
.meetingevent-box .row-0 {
  display: grid;
  grid-template-columns: 6fr 6fr;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.meetingevent-box .row-0 input {
  padding: 16px 20px;
  margin: 0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.meetingevent-box .row-1 {
  display: grid;
  grid-template-columns: 6fr 6fr;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.meetingevent-box .row-1 input {
  padding: 16px 20px;
  margin: 0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.meetingevent-box .row-2 {
  display: grid;
  grid-template-columns: 6fr 6fr;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}
.meetingevent-box .row-2 input {
  padding: 16px 20px;
  margin: 0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.meetingevent-box .row-2 #dropdown {
  display: none;
  position: absolute;
  width: 10%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
  margin-top: 150px;
}

.meetingevent-box .row-2 #dropdown option {
  padding: 10px;
  cursor: pointer;
  top: 20px;
  color: #1c1c1c;
  font-size: 20pt;
}
.meetingevent-box .row-3 {
  display: grid;
  grid-template-columns: 12fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.meetingevent-box .row-3 textarea {
  margin: 0;
  padding: 16px 20px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  height: 150px;
  overflow-y: auto;
}

.btn-send {
  margin: 0;
  padding: 16px 20px;
  background-color: #a71218;
  color: white;
  text-decoration: none;
  width: 30%;
  font-size: 13.33px;
  border: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1000px;
}

/* Add Animation */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
