.body{
    --body-bg-color: rgba(255,255,255,1);
    --content-color: #2f2b2c;
    --link-color: #a71218;
    --menu-height: 80px;
    --shared-border-color: rgba(233,225,225,1)
}
.reservation-wrapper{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;

}
.reservation-title{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    line-height: 1.8em;
    color: #ebe4e4;
}
.details{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.8em;
    color: #2f2b2c;
}
.searchpanel{
    background-color: #8C0B0B;
    margin-left: 100px;
    margin-right: 100px;
}
#datepicker{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
}
b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    color: #93130a;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.8em;
    color: #2f2b2c;
}
.room-info{
    margin-top:50px;
    margin-left:100px;
    margin-right:100px;
    overflow: hidden;
    background-color: #ebe4e4;
}
.room-img{
    margin-top: 25px;
    margin-left: 25px;
    float: left;
    margin-right:25px;
}
.room-details{
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}
.button{
    margin-top: 50px;
    margin-bottom:50px;
    margin-left: 400px;
    background-color:#a71218;
    border: none;
}